/* ******** */
/* GENERAL */
/* ****** */

* {
	margin: 0;	
    padding: 0;
    box-sizing: border-box;

    font-family: "Afacad", sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--background-color);
}

a, button {
    cursor: pointer;
}

:root {
    /* COLORS */
    --background-color: #D1F704;

    --explanation-color: #000000;

    --button-color: #ffffff;
    --button-hover-color:#A66CFF;
    --button-text-color: #000000;
    
    --road-color: #FFFFFF;

    --tile-plane-top-color: #A66CFF;
    --tile-plane-front-color: #FFFFFF;
    --tile-planes-color: #ffffff;

    --building-plane-top-color: #FFFFFF;
    --building-plane-front-and-back-color: #D1F704;
    --building-planes-color: #000000;

    /* BORDERS */
    --border: .04em solid rgba(0, 0, 0, .6);

    /* BOX SHADOWS */
    --box-shadow: 0 0 0 .6em rgba(0, 0, 0, 1);
}
