* {
	margin: 0;	
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    font-size: .8em;
    -webkit-font-smoothing: antialiased;
}

:root {
    --ground-width: 12em;
    --ground-height: 1em;

    --cube-1-width: 4em;
    --cube-1-height: 8em;

    --cube-2-width: 3em;

    --gap: 2em;

    --color-1: #FFFFFF;
    --color-2: #000000;
    --color-3: #ff0000;
}