/* ******** */
/* GENERAL */
/* ****** */

* {
	margin: 0;	
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#F9FEFF, #D6F1FA);

    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    font-size: .8em;
    -webkit-font-smoothing: antialiased;
}

/* ***** */
/* ROOT */
/* *** */

:root {
    /* TILE PLANE SIZES */
    --tile-width: 12em;
    --tile-height: 1.4em;

    /* GAP BETWEEN TILES */
    --gap: 4em;

    /* COLORS */
    --color-1: #FEFFF0;
    --color-2: #000000;
    --color-3: #c9ea71;
    --color-4: #7C6959;
    --color-5: #4B423B;
}