header {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header > div {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header > div h1 {  
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8em;
    font-weight: 700;
    -webkit-text-stroke-width: .01em;
    -webkit-text-stroke-color: var(--title-outer-color);
    text-shadow: .04em .04em 0px var(--title-outer-color);
    color: var(--title-color);
}

header > div h1 span {
    opacity: 0;

    letter-spacing: .05em;

    animation: fall .1s ease forwards;
}

header > div h1 span:nth-of-type(5) {
    margin-right: .2em;
}

header > div p {
    font-size: 3em;
    font-weight: 500;
    color: var(--explanation-color)
}

header > a {
    height: 2.4em;

    position: relative;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 6em;
    padding: 0 1.5em;

    background-color: var(--button-color);
    box-shadow: .3em .3em 0 var(--box-shadow-color);

    border: var(--border);

    font-size: 1em;
    font-weight: 500;
    color: var(--button-text-color);
    text-decoration: none;

    transition: .2s linear;
}

header > a:hover {
    top: .2em;
    left: .2em;

    background-color: var(--button-hover-color);
    box-shadow: .2em .2em 0 var(--box-shadow-color)
}

@keyframes fall {
    0% {
        opacity: 0;

        transform: translateY(-1.5em);
    }
    100% {
        opacity: 1;

        transform: translateY(0);
    }
}

header > div h1 span:nth-child(1) { animation-delay: 0.1s;}
header > div h1 span:nth-child(2) { animation-delay: 0.2s; }
header > div h1 span:nth-child(3) { animation-delay: 0.3s; }
header > div h1 span:nth-child(4) { animation-delay: 0.4s; }
header > div h1 span:nth-child(5) { animation-delay: 0.5s; }
header > div h1 span:nth-child(6) { animation-delay: 0.6s; }
header > div h1 span:nth-child(7) { animation-delay: 0.7s; }
header > div h1 span:nth-child(8) { animation-delay: 0.8s; }
header > div h1 span:nth-child(9) { animation-delay: 0.9s; }
header > div h1 span:nth-child(10) { animation-delay: 1s; }
header > div h1 span:nth-child(11) { animation-delay: 1.1s; }
header > div h1 span:nth-child(12) { animation-delay: 1.2s; }
header > div h1 span:nth-child(13) { animation-delay: 1.3s; }
header > div h1 span:nth-child(14) { animation-delay: 1.4s; }
header > div h1 span:nth-child(15) { animation-delay: 1.5s; }
header > div h1 span:nth-child(16) { animation-delay: 1.6s; }
header > div h1 span:nth-child(17) { animation-delay: 1.7s; }
header > div h1 span:nth-child(18) { animation-delay: 1.8s; }
