header {
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 6em;
    font-weight: 500;
    text-align: center;
    color: black;
}