/* ***** */
/* MAIN */
/* *** */

/* MAIN */

main {
	height: 100dvh;

    display: grid;
    justify-content: center;
    align-items: center;
}

/* SCENE */

main, main * {
	transform-style: preserve-3d;
}

/* ************** */
/* TILES GENERAL */
/* ************ */

/* SET TILE PLANES BEHIND EACHOTHER */

main > article {
    height: 0;
    --tile-width: 12em;
    --tile-height: 1.4em;

    grid-area: 1/1;
    --gap: 3em;

    transition: 1s;
}

main article > div {
	display: grid;

    transition: .4s;
}

main > article > div:hover {
    transform: translateY(-2em);
}

/* TILE PLANES STYLING + CENTER ITEMS */

main article > div > div {
    grid-area: 1/1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* SET TILE PLANE SIZES FOR FRONT, BACK, RIGHT AND LEFT */

main article > div > div:nth-of-type(-n+4) {
    width: var(--tile-width);
    height: var(--tile-height);
}

/* SET TILE PLANE SIZES FOR TOP AND BOTTOM */

main article > div > div:nth-last-of-type(-n+2) {
    width: var(--tile-width);
    aspect-ratio: 1/1;
}

/* TILE PLANE FRONT POSITIONING */

main article > div > div:nth-of-type(1) {
	transform: rotateY(0deg) translateZ(calc(var(--tile-width) / 2));

    background-color: var(--tile-light-front, var(--color-4));
}

/* TILE PLANE BACK POSITIONING */

main article > div > div:nth-of-type(2) {
	transform: rotateY(0deg) translateZ(calc(var(--tile-width) / -2));

    background-color: var(--tile-light-back, var(--color-5));
}

/* TILE PLANE RIGHT POSITIONING */

main article > div > div:nth-of-type(3) {
	transform: rotateY(90deg) translateZ(calc(var(--tile-width) / 2));

    background-color: var(--tile-light-right, var(--color-5));
}

/* TILE PLANE LEFT POSITIONING */

main article > div > div:nth-of-type(4) {
	transform: rotateY(90deg) translateZ(calc(var(--tile-width) / -2));

    background-color: var(--tile-light-left, var(--color-5));
}

/* TILE PLANE TOP POSITIONING + GRID */

main article > div > div:nth-of-type(5) {
	transform: rotateX(90deg) translateZ(calc(var(--tile-width) / 2));

    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    grid-template-areas: 
        "p01 p02 p03 p04 p05"
        "p06 p07 p08 p09 p10"
        "p11 p12 p13 p14 p15"
        "p16 p17 p18 p19 p20"
        "p21 p22 p23 p24 p25";

    background-color: var(--color-3);
}

main article > div > div:nth-of-type(5) > div:nth-of-type(1) { grid-area: p01; }
main article > div > div:nth-of-type(5) > div:nth-of-type(2) { grid-area: p02; }
main article > div > div:nth-of-type(5) > div:nth-of-type(3) { grid-area: p03; }
main article > div > div:nth-of-type(5) > div:nth-of-type(4) { grid-area: p04; }
main article > div > div:nth-of-type(5) > div:nth-of-type(5) { grid-area: p05; }
main article > div > div:nth-of-type(5) > div:nth-of-type(6) { grid-area: p06; }
main article > div > div:nth-of-type(5) > div:nth-of-type(7) { grid-area: p07; }
main article > div > div:nth-of-type(5) > div:nth-of-type(8) { grid-area: p08; }
main article > div > div:nth-of-type(5) > div:nth-of-type(9) { grid-area: p09; }
main article > div > div:nth-of-type(5) > div:nth-of-type(10) { grid-area: p10; }
main article > div > div:nth-of-type(5) > div:nth-of-type(11) { grid-area: p11; }
main article > div > div:nth-of-type(5) > div:nth-of-type(12) { grid-area: p12; }
main article > div > div:nth-of-type(5) > div:nth-of-type(13) { grid-area: p13; }
main article > div > div:nth-of-type(5) > div:nth-of-type(14) { grid-area: p14; }
main article > div > div:nth-of-type(5) > div:nth-of-type(15) { grid-area: p15; }
main article > div > div:nth-of-type(5) > div:nth-of-type(16) { grid-area: p16; }
main article > div > div:nth-of-type(5) > div:nth-of-type(17) { grid-area: p17; }
main article > div > div:nth-of-type(5) > div:nth-of-type(18) { grid-area: p18; }
main article > div > div:nth-of-type(5) > div:nth-of-type(19) { grid-area: p19; }
main article > div > div:nth-of-type(5) > div:nth-of-type(20) { grid-area: p20; }
main article > div > div:nth-of-type(5) > div:nth-of-type(21) { grid-area: p21; }
main article > div > div:nth-of-type(5) > div:nth-of-type(22) { grid-area: p22; }
main article > div > div:nth-of-type(5) > div:nth-of-type(23) { grid-area: p23; }
main article > div > div:nth-of-type(5) > div:nth-of-type(24) { grid-area: p24; }
main article > div > div:nth-of-type(5) > div:nth-of-type(25) { grid-area: p25; }

/* TILE PLANE TOP BUILDING TEMPLATE */

main article > div > div:nth-of-type(5) > section {
    width: 100%;
    height: 100%;

    position: relative;

    display: grid;
    grid-column-start: var(--col-building);
    grid-row-start: var(--row-building);
    grid-column-end: span var(--width-building, 1);
    grid-row-end: span var(--depth-building, 1);
}

main article > div > div:nth-of-type(5) > section:nth-of-type(1) > div {
    position: absolute;

    opacity: .6;
}

main article > div > div:nth-of-type(5) > section > div:nth-of-type(1) {
    width: 100%;
    height: var(--height-building);

    bottom: 100%;
    left: 0%;
    rotate: X -90deg;
    transform-origin: bottom;

    background-color:pink;
}

main article > div > div:nth-of-type(5) > section > div:nth-of-type(3) {
    width: 100%;
    height: var(--height-building);

    top: 100%;
    left: 0%;
    rotate: X 90deg;
    transform-origin: top;

    background-color:green;
}

main article > div > div:nth-of-type(5) > section > div:nth-of-type(2) {
    width: var(--height-building);
    height: 100%;

    top: 0;
    left: 100%;
    rotate: Y -90deg;
    transform-origin: left;

    background-color:yellow;
}

main article > div > div:nth-of-type(5) > section > div:nth-of-type(4) {
    width: var(--height-building);
    height: 100%;

    top: 0;
    right: 100%;
    rotate: Y 90deg;
    transform-origin: right;

    background-color:blue;
}

main article > div > div:nth-of-type(5) > section > div:nth-of-type(5) {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    translate: 0 0 var(--height-building);

    background-color:orange;
}

/* TILE PLANE BOTTOM POSITIONING */

main article > div > div:nth-of-type(6) {
	transform: rotateX(90deg) translateZ(calc(var(--tile-width) / 2 - var(--tile-height)));

    background-color: var(--color-5);
}

/* TILE PLANE TOP GRID FULL WIDTH AND HEIGHT + CENTER ITEMS  */

main article > div > div:nth-of-type(5) div {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* TILE PLANE TOP FORM */

main article > div > div:nth-of-type(5) form {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

/* TILE PLANE TOP FORM LABEL */

main article > div > div:nth-of-type(5) form label {
    position: absolute;
    inset: 0;
    z-index: 1001;
    
    display: none;
}

/* TILE PLANE TOP FORM INPUT */

main article > div > div:nth-of-type(5) form input {    
    display: none;
}

/* TILE PLANE TOP FORM CHECKING IF CHECKED */

main article > div > div:nth-of-type(5) form:has(> input:nth-of-type(1):checked) label:nth-of-type(2),
main article > div > div:nth-of-type(5) form:has(> input:nth-of-type(2):checked) label:nth-of-type(3),
main article > div > div:nth-of-type(5) form:has(> input:nth-of-type(3):checked) label:nth-of-type(4),
main article > div > div:nth-of-type(5) form:has(> input:nth-of-type(4):checked) label:nth-of-type(5),
main article > div > div:nth-of-type(5) form:has(> input:nth-of-type(5):checked) label:nth-of-type(1) {
	display: block;
}

/* ******* */
/* TILE 1 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(1) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x-tile, 0em))
        translateZ(var(--z-tile, 0em))
        rotateY(var(--ry-tile-1, 0deg))
    ;
}

main > article:nth-of-type(1) {
    --x-tile: calc(var(--tile-width) * -1 - var(--gap));
    --z-tile: calc(var(--tile-width) * -1 - var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-1"]:checked) {
    --ry-tile-1: -90deg;
    /* --tile-light-right: var(--color-4);
    --tile-light-front: var(--color-5); */
}

body:has([value="view-180-deg-tile-1"]:checked) {
    --ry-tile-1: -180deg;
    /* --tile-light-back: var(--color-4); */
}

body:has([value="view-270-deg-tile-1"]:checked) {
    --ry-tile-1: -270deg;
    /* --tile-light-left: var(--color-4); */
}

body:has([value="view-0-deg-tile-1"]:checked) {
    --ry-tile-1: -360deg;
}

/* DRAWING PATH */

main article:nth-of-type(1) > div > div:nth-of-type(5) > :is(:nth-of-type(11), :nth-of-type(12), :nth-of-type(13), :nth-of-type(18), :nth-of-type(23)) {
    background-color: var(--color-1);
}

/* BUILDING 1 */

main article > div > div:nth-of-type(5) > section:nth-of-type(1) {
    --width-building: 1;
    --height-building: 8em;
    --depth-building: 1;

    --col-building: 2;
    --row-building: 4;
}

/* ******* */
/* TILE 2 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(2) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x-tile, 0em))
        translateZ(var(--z-tile, 0em))
        rotateY(var(--ry-tile-2, 0deg))
    ;
}

main > article:nth-of-type(2) {
    --z-tile: calc(var(--tile-width) * -1 - var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-2"]:checked) {
    --ry-tile-2: -90deg;
    /* --tile-light-right: var(--color-4);
    --tile-light-front: var(--color-5); */
}

body:has([value="view-180-deg-tile-2"]:checked) {
    --ry-tile-2: -180deg;
    /* --tile-light-back: var(--color-4); */
}

body:has([value="view-270-deg-tile-2"]:checked) {
    --ry-tile-2: -270deg;
    /* --tile-light-left: var(--color-4); */
}

body:has([value="view-0-deg-tile-2"]:checked) {
    --ry-tile-2: -360deg;
}

/* DRAWING PATH */

main article:nth-of-type(2) > div > div:nth-of-type(5) > :is(:nth-of-type(14), :nth-of-type(12), :nth-of-type(11), :nth-of-type(13), :nth-of-type(19), :nth-of-type(24)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 3 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(3) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x-tile, 0em))
        translateZ(var(--z-tile, 0em))
        rotateY(var(--ry-tile-3, 0deg))
    ;
}

main > article:nth-of-type(3) {
    --x-tile: calc(var(--tile-width) * 1 + var(--gap));
    --z-tile: calc(var(--tile-width) * -1 - var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-3"]:checked) {
    --ry-tile-3: -90deg;
    /* --tile-light-right: var(--color-4);
    --tile-light-front: var(--color-5); */
}

body:has([value="view-180-deg-tile-3"]:checked) {
    --ry-tile-3: -180deg;
    /* --tile-light-back: var(--color-4); */
}

body:has([value="view-270-deg-tile-3"]:checked) {
    --ry-tile-3: -270deg;
    /* --tile-light-left: var(--color-4); */
}

body:has([value="view-0-deg-tile-3"]:checked) {
    --ry-tile-3: -360deg;
}

/* DRAWING PATH */

main article:nth-of-type(3) > div > div:nth-of-type(5) > :is(:nth-of-type(11), :nth-of-type(12), :nth-of-type(7), :nth-of-type(8), :nth-of-type(9), :nth-of-type(4)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 4 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(4) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x-tile, 0em))
        translateZ(var(--z-tile, 0em))
        rotateY(var(--ry-tile-4, 0deg))
    ;
}

main > article:nth-of-type(4) {
    --x-tile: calc(var(--tile-width) * -1 - var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-4"]:checked) {
    --ry-tile-4: -90deg;
    /* --tile-light-right: var(--color-4);
    --tile-light-front: var(--color-5); */
}

body:has([value="view-180-deg-tile-4"]:checked) {
    --ry-tile-4: -180deg;
    /* --tile-light-back: var(--color-4); */
}

body:has([value="view-270-deg-tile-4"]:checked) {
    --ry-tile-4: -270deg;
    /* --tile-light-left: var(--color-4); */
}

body:has([value="view-0-deg-tile-4"]:checked) {
    --ry-tile-4: -360deg;
}

/* DRAWING PATH */

main article:nth-of-type(4) > div > div:nth-of-type(5) > :is(:nth-of-type(11), :nth-of-type(12), :nth-of-type(13), :nth-of-type(14), :nth-of-type(19), :nth-of-type(24)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 5 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(5) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x-tile, 0em))
        translateZ(var(--z-tile, 0em))
        rotateY(var(--ry-tile-5, 0deg))
    ;
}

/* TURNING */

body:has([value="view-90-deg-tile-5"]:checked) {
    --ry-tile-5: -90deg;
    /* --tile-light-right: var(--color-4);
    --tile-light-front: var(--color-5); */
}

body:has([value="view-180-deg-tile-5"]:checked) {
    --ry-tile-5: -180deg;
    /* --tile-light-back: var(--color-4); */
}

body:has([value="view-270-deg-tile-5"]:checked) {
    --ry-tile-5: -270deg;
    /* --tile-light-left: var(--color-4); */
}

body:has([value="view-0-deg-tile-5"]:checked) {
    --ry-tile-5: -360deg;
}

/* DRAWING PATH */

main article:nth-of-type(5) > div > div:nth-of-type(5) > :is(:nth-of-type(6), :nth-of-type(7), :nth-of-type(2), :nth-of-type(23), :nth-of-type(18), :nth-of-type(19), :nth-of-type(20)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 6 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(6) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x-tile, 0em))
        translateZ(var(--z-tile, 0em))
        rotateY(var(--ry-tile-6, 0deg))
    ;
}

main > article:nth-of-type(6) {
    --x-tile: calc(var(--tile-width) * 1 + var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-6"]:checked) {
    --ry-tile-6: -90deg;
    /* --tile-light-right: var(--color-4);
    --tile-light-front: var(--color-5); */
}

body:has([value="view-180-deg-tile-6"]:checked) {
    --ry-tile-6: -180deg;
    /* --tile-light-back: var(--color-4); */
}

body:has([value="view-270-deg-tile-6"]:checked) {
    --ry-tile-6: -270deg;
    /* --tile-light-left: var(--color-4); */
}

body:has([value="view-0-deg-tile-6"]:checked) {
    --ry-tile-6: -360deg;
}

/* DRAWING PATH */

main article:nth-of-type(6) > div > div:nth-of-type(5) > :is(:nth-of-type(6), :nth-of-type(7), :nth-of-type(8), :nth-of-type(13), :nth-of-type(14), :nth-of-type(15),) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 7 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(7) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x-tile, 0em))
        translateZ(var(--z-tile, 0em))
        rotateY(var(--ry-tile-7, 0deg))
    ;
}

main > article:nth-of-type(7) {
    --x-tile: calc(var(--tile-width) * -1 - var(--gap));
    --z-tile: calc(var(--tile-width) * 1 + var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-7"]:checked) {
    --ry-tile-7: -90deg;
    /* --tile-light-right: var(--color-4);
    --tile-light-front: var(--color-5); */
}

body:has([value="view-180-deg-tile-7"]:checked) {
    --ry-tile-7: -180deg;
    /* --tile-light-back: var(--color-4); */
}

body:has([value="view-270-deg-tile-7"]:checked) {
    --ry-tile-7: -270deg;
    /* --tile-light-left: var(--color-4); */
}

body:has([value="view-0-deg-tile-7"]:checked) {
    --ry-tile-7: -360deg;
}

/* DRAWING PATH */

main article:nth-of-type(7) > div > div:nth-of-type(5) > :is(:nth-of-type(11), :nth-of-type(12), :nth-of-type(13), :nth-of-type(18), :nth-of-type(23)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 8 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(8) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x-tile, 0em))
        translateZ(var(--z-tile, 0em))
        rotateY(var(--ry-tile-8, 0deg))
    ;
}

main > article:nth-of-type(8) {
    --z-tile: calc(var(--tile-width) * 1 + var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-8"]:checked) {
    --ry-tile-8: -90deg;
    /* --tile-light-right: var(--color-4);
    --tile-light-front: var(--color-5); */
}

body:has([value="view-180-deg-tile-8"]:checked) {
    --ry-tile-8: -180deg;
    /* --tile-light-back: var(--color-4); */
}

body:has([value="view-270-deg-tile-8"]:checked) {
    --ry-tile-8: -270deg;
    /* --tile-light-left: var(--color-4); */
}

body:has([value="view-0-deg-tile-8"]:checked) {
    --ry-tile-8: -360deg;
}

/* DRAWING PATH */

main article:nth-of-type(8) > div > div:nth-of-type(5) > :is(:nth-of-type(6), :nth-of-type(7), :nth-of-type(12), :nth-of-type(17), :nth-of-type(18), :nth-of-type(19), :nth-of-type(14), :nth-of-type(9), :nth-of-type(4)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 9 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(9) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x-tile, 0em))
        translateZ(var(--z-tile, 0em))
        rotateY(var(--ry-tile-9, 0deg))
    ;
}

main > article:nth-of-type(9) {
    --x-tile: calc(var(--tile-width) * 1 + var(--gap));
    --z-tile: calc(var(--tile-width) * 1 + var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-9"]:checked) {
    --ry-tile-9: -90deg;
    /* --tile-light-right: var(--color-4);
    --tile-light-front: var(--color-5); */
}

body:has([value="view-180-deg-tile-9"]:checked) {
    --ry-tile-9: -180deg;
    /* --tile-light-back: var(--color-4); */
}

body:has([value="view-270-deg-tile-9"]:checked) {
    --ry-tile-9: -270deg;
    /* --tile-light-left: var(--color-4); */
}

body:has([value="view-0-deg-tile-9"]:checked) {
    --ry-tile-9: -360deg;
}

/* DRAWING PATH */

main article:nth-of-type(9) > div > div:nth-of-type(5) > :is(:nth-of-type(6), :nth-of-type(7), :nth-of-type(8), :nth-of-type(9), :nth-of-type(10)) {
    background-color: var(--color-1);
}
