/* ***** */
/* MAIN */
/* *** */

/* MAIN */

main {
	height: 100dvh;

    display: grid;
    justify-content: center;
    align-items: center;
}

/* SCENE */

main, main * {
	transform-style: preserve-3d;
}

/* ************** */
/* TILES GENERAL */
/* ************ */

/* SET TILE PLANES BEHIND EACHOTHER */

main > article {
    grid-area: 1/1;

    transition: 2s;
}

main article > div {
    height: 0;

	display: grid;
}

/* TILE PLANES STYLING + CENTER ITEMS */

main article > div > div {
    grid-area: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SET TILE PLANE SIZES FOR FRONT, BACK, RIGHT AND LEFT */

main article > div > div:nth-of-type(-n+4) {
    width: var(--ground-width);
    height: var(--ground-height);
}

/* SET TILE PLANE SIZES FOR TOP AND BOTTOM */

main article > div > div:nth-last-of-type(-n+2) {
    width: var(--ground-width);
    aspect-ratio: 1/1;
}

/* TILE PLANE FRONT POSITIONING */

main article > div > div:nth-of-type(1) {
	transform: rotateY(0deg) translateZ(calc(var(--ground-width) / 2));

    background-color: var(--color-4);
}

/* TILE PLANE BACK POSITIONING */

main article > div > div:nth-of-type(2) {
	transform: rotateY(0deg) translateZ(calc(var(--ground-width) / -2));

    background-color: var(--color-5);
}

/* TILE PLANE RIGHT POSITIONING */

main article > div > div:nth-of-type(3) {
	transform: rotateY(90deg) translateZ(calc(var(--ground-width) / 2));

    background-color: var(--color-5);
}

/* TILE PLANE LEFT POSITIONING */

main article > div > div:nth-of-type(4) {
	transform: rotateY(90deg) translateZ(calc(var(--ground-width) / -2));

    background-color: var(--color-5);
}

/* TILE PLANE TOP POSITIONING + GRID */

main article > div > div:nth-of-type(5) {
    position: relative;
	transform: rotateX(90deg) translateZ(calc(var(--ground-width) / 2));

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    background-color: var(--color-3);
}

/* TILE PLANE BOTTOM POSITIONING */

main article > div > div:nth-of-type(6) {
	transform: rotateX(90deg) translateZ(calc(var(--ground-width) / 2 - var(--ground-height)));

    background-color: var(--color-5);
}

/* TILE PLANE TOP GRID FULL WIDTH AND HEIGHT + CENTER ITEMS  */

main article > div > div:nth-of-type(5) div {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* TILE PLANE TOP FORM */

main article > div > div:nth-of-type(5) form {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

/* TILE PLANE TOP FORM LABEL */

main article > div > div:nth-of-type(5) form label {
    position: absolute;
    inset: 0;
    display: none;

    cursor: pointer;
}

/* TILE PLANE TOP FORM INPUT */

main article > div > div:nth-of-type(5) form input {    
    display: none;
}

/* TILE PLANE TOP FORM CHECKING IF CHECKED */

main article > div > div:nth-of-type(5) form:has(> input:nth-of-type(1):checked) label:nth-of-type(2),
main article > div > div:nth-of-type(5) form:has(> input:nth-of-type(2):checked) label:nth-of-type(3),
main article > div > div:nth-of-type(5) form:has(> input:nth-of-type(3):checked) label:nth-of-type(4),
main article > div > div:nth-of-type(5) form:has(> input:nth-of-type(4):checked) label:nth-of-type(1) {
	display: block;
}

/* ******* */
/* TILE 1 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(1) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x, 0em))
        translateZ(var(--z, 0em))
        rotateY(var(--ry-tile-1, 0deg))
    ;
}

main > article:nth-of-type(1) {
    --x: calc(var(--ground-width) * -1 - var(--gap));
    --z: calc(var(--ground-width) * -1 - var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-1"]:checked) {
    --ry-tile-1: -90deg;
}

body:has([value="view-180-deg-tile-1"]:checked) {
    --ry-tile-1: -180deg;
}

body:has([value="view-270-deg-tile-1"]:checked) {
    --ry-tile-1: -270deg;
}

/* DRAWING PATH */

main article:nth-of-type(1) > div > div:nth-of-type(5) > :is(:nth-of-type(11), :nth-of-type(12), :nth-of-type(13), :nth-of-type(8), :nth-of-type(3)) {
    background-color: var(--color-1);
}

/* BUILDING */

main article:nth-of-type(1) > div > div:nth-of-type(5) > div:nth-of-type(25) > div {
    position: absolute;

    display: grid;

    background-color: red;
}

/* ******* */
/* TILE 2 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(2) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x, 0em))
        translateZ(var(--z, 0em))
        rotateY(var(--ry-tile-2, 0deg))
    ;
}

main > article:nth-of-type(2) {
    --z: calc(var(--ground-width) * -1 - var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-2"]:checked) {
    --ry-tile-2: -90deg;
}

body:has([value="view-180-deg-tile-2"]:checked) {
    --ry-tile-2: -180deg;
}

body:has([value="view-270-deg-tile-2"]:checked) {
    --ry-tile-2: -270deg;
}

/* DRAWING PATH */

main article:nth-of-type(2) > div > div:nth-of-type(5) > :is(:nth-of-type(10), :nth-of-type(9), :nth-of-type(8), :nth-of-type(13), :nth-of-type(18), :nth-of-type(23)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 3 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(3) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x, 0em))
        translateZ(var(--z, 0em))
        rotateY(var(--ry-tile-3, 0deg))
    ;
}

main > article:nth-of-type(3) {
    --x: calc(var(--ground-width) * 1 + var(--gap));
    --z: calc(var(--ground-width) * -1 - var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-3"]:checked) {
    --ry-tile-3: -90deg;
}

body:has([value="view-180-deg-tile-3"]:checked) {
    --ry-tile-3: -180deg;
}

body:has([value="view-270-deg-tile-3"]:checked) {
    --ry-tile-3: -270deg;
}

/* DRAWING PATH */

main article:nth-of-type(3) > div > div:nth-of-type(5) > :is(:nth-of-type(6), :nth-of-type(7), :nth-of-type(12), :nth-of-type(17), :nth-of-type(18), :nth-of-type(23)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 4 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(4) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x, 0em))
        translateZ(var(--z, 0em))
        rotateY(var(--ry-tile-4, 0deg))
    ;
}

main > article:nth-of-type(4) {
    --x: calc(var(--ground-width) * -1 - var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-4"]:checked) {
    --ry-tile-4: -90deg;
}

body:has([value="view-180-deg-tile-4"]:checked) {
    --ry-tile-4: -180deg;
}

body:has([value="view-270-deg-tile-4"]:checked) {
    --ry-tile-4: -270deg;
}

/* DRAWING PATH */

main article:nth-of-type(4) > div > div:nth-of-type(5) > :is(:nth-of-type(10), :nth-of-type(9), :nth-of-type(8), :nth-of-type(13), :nth-of-type(18), :nth-of-type(23)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 5 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(5) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x, 0em))
        translateZ(var(--z, 0em))
        rotateY(var(--ry-tile-5, 0deg))
    ;
}

/* TURNING */

body:has([value="view-90-deg-tile-5"]:checked) {
    --ry-tile-5: -90deg;
}

body:has([value="view-180-deg-tile-5"]:checked) {
    --ry-tile-5: -180deg;
}

body:has([value="view-270-deg-tile-5"]:checked) {
    --ry-tile-5: -270deg;
}

/* DRAWING PATH */

main article:nth-of-type(5) > div > div:nth-of-type(5) > :is(:nth-of-type(6), :nth-of-type(7), :nth-of-type(8), :nth-of-type(3), :nth-of-type(24), :nth-of-type(19), :nth-of-type(20)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 6 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(6) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x, 0em))
        translateZ(var(--z, 0em))
        rotateY(var(--ry-tile-6, 0deg))
    ;
}

main > article:nth-of-type(6) {
    --x: calc(var(--ground-width) * 1 + var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-6"]:checked) {
    --ry-tile-6: -90deg;
}

body:has([value="view-180-deg-tile-6"]:checked) {
    --ry-tile-6: -180deg;
}

body:has([value="view-270-deg-tile-6"]:checked) {
    --ry-tile-6: -270deg;
}

/* DRAWING PATH */

main article:nth-of-type(6) > div > div:nth-of-type(5) > :is(:nth-of-type(3), :nth-of-type(8), :nth-of-type(13), :nth-of-type(12), :nth-of-type(17), :nth-of-type(22),) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 7 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(7) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x, 0em))
        translateZ(var(--z, 0em))
        rotateY(var(--ry-tile-7, 0deg))
    ;
}

main > article:nth-of-type(7) {
    --x: calc(var(--ground-width) * -1 - var(--gap));
    --z: calc(var(--ground-width) * 1 + var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-7"]:checked) {
    --ry-tile-7: -90deg;
}

body:has([value="view-180-deg-tile-7"]:checked) {
    --ry-tile-7: -180deg;
}

body:has([value="view-270-deg-tile-7"]:checked) {
    --ry-tile-7: -270deg;
}

/* DRAWING PATH */

main article:nth-of-type(7) > div > div:nth-of-type(5) > :is(:nth-of-type(11), :nth-of-type(12), :nth-of-type(13), :nth-of-type(8), :nth-of-type(3)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 8 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(8) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x, 0em))
        translateZ(var(--z, 0em))
        rotateY(var(--ry-tile-8, 0deg))
    ;
}

main > article:nth-of-type(8) {
    --z: calc(var(--ground-width) * 1 + var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-8"]:checked) {
    --ry-tile-8: -90deg;
}

body:has([value="view-180-deg-tile-8"]:checked) {
    --ry-tile-8: -180deg;
}

body:has([value="view-270-deg-tile-8"]:checked) {
    --ry-tile-8: -270deg;
}

/* DRAWING PATH */

main article:nth-of-type(8) > div > div:nth-of-type(5) > :is(:nth-of-type(22), :nth-of-type(17), :nth-of-type(12), :nth-of-type(7), :nth-of-type(8), :nth-of-type(9), :nth-of-type(14), :nth-of-type(19), :nth-of-type(20)) {
    background-color: var(--color-1);
}

/* ******* */
/* TILE 9 */
/* ***** */

/* POSITIONING */

main > article:nth-of-type(9) {
    transform: 
        rotateX(-30deg)
        rotateY(-45deg) 
        translateX(var(--x, 0em))
        translateZ(var(--z, 0em))
        rotateY(var(--ry-tile-9, 0deg))
    ;
}

main > article:nth-of-type(9) {
    --x: calc(var(--ground-width) * 1 + var(--gap));
    --z: calc(var(--ground-width) * 1 + var(--gap));
}

/* TURNING */

body:has([value="view-90-deg-tile-9"]:checked) {
    --ry-tile-9: -90deg;
}

body:has([value="view-180-deg-tile-9"]:checked) {
    --ry-tile-9: -180deg;
}

body:has([value="view-270-deg-tile-9"]:checked) {
    --ry-tile-9: -270deg;
}

/* DRAWING PATH */

main article:nth-of-type(9) > div > div:nth-of-type(5) > :is(:nth-of-type(2), :nth-of-type(7), :nth-of-type(12), :nth-of-type(17), :nth-of-type(22)) {
    background-color: var(--color-1);
}
