main {
	height: calc(100dvh - 6em);

    display: grid;
    justify-content: center;
    align-items: center;
}

main, main * {
	transform-style: preserve-3d;
}

main > article {
    transform: 
        rotateX(-30deg)
        rotateY(45deg) 
        translateX(var(--x, 0em))
        translateZ(var(--z, 0em))
        rotateY(var(--ry, 0deg))
    ;

    grid-area: 1/1;

    cursor: pointer;

    transition: 2s;
}

main > article:nth-of-type(1) {
    --x: calc(var(--ground-width) * -1 - var(--gap));
    --z: calc(var(--ground-width) * -1 - var(--gap));
}

main > article:nth-of-type(2) {
    --z: calc(var(--ground-width) * -1 - var(--gap));
}

main > article:nth-of-type(3) {
    --x: calc(var(--ground-width) * 1 + var(--gap));
    --z: calc(var(--ground-width) * -1 - var(--gap));
}

main > article:nth-of-type(4) {
    --x: calc(var(--ground-width) * -1 - var(--gap));
}

main > article:nth-of-type(6) {
    --x: calc(var(--ground-width) * 1 + var(--gap));
}

main > article:nth-of-type(7) {
    --x: calc(var(--ground-width) * -1 - var(--gap));
    --z: calc(var(--ground-width) * 1 + var(--gap));
}

main > article:nth-of-type(8) {
    --z: calc(var(--ground-width) * 1 + var(--gap));
}

main > article:nth-of-type(9) {
    --x: calc(var(--ground-width) * 1 + var(--gap));
    --z: calc(var(--ground-width) * 1 + var(--gap));
}

html:has([value="view-90-deg"]:checked) {
    --ry: 90deg;
}

html:has([value="view-180-deg"]:checked) {
    --ry: 180deg;
}

html:has([value="view-270-deg"]:checked) {
    --ry: 270deg;
}

main article > div {
    height: 0;

	display: grid;
}

main article > div > div {
    grid-area: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

	background-color: var(--color-3);
    opacity: .4;

    border: .05em solid var(--color-1);
}

main article > div > div:nth-of-type(-n+4) {
    width: var(--ground-width);
    height: var(--ground-height);
}

main article > div > div:nth-last-of-type(-n+2) {
    width: var(--ground-width);
    aspect-ratio: 1/1;
}

main article > div > div:nth-of-type(1) {
	transform: rotateY(0deg) translateZ(calc(var(--ground-width) / 2));
}

main article > div > div:nth-of-type(2) {
	transform: rotateY(0deg) translateZ(calc(var(--ground-width) / -2));
}

main article > div > div:nth-of-type(3) {
	transform: rotateY(90deg) translateZ(calc(var(--ground-width) / 2));
}

main article > div > div:nth-of-type(4) {
	transform: rotateY(90deg) translateZ(calc(var(--ground-width) / -2));
}

main article > div > div:nth-of-type(5) {
	transform: rotateX(90deg) translateZ(calc(var(--ground-width) / 2));
}

main article > div > div:nth-of-type(6) {
	transform: rotateX(90deg) translateZ(calc(var(--ground-width) / 2 - var(--ground-height)));
}